.editor-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  height: 300px;
  background-color: #282C34;
  color: #ccc;
  width: 30%;
  overflow-y: auto;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
}

.editor-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 10px;
}

.editor-container::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 10px;

}

.editor-container::-webkit-scrollbar-track {
  background-color: #E4E4E4;
  border-radius: 10px;
}

.editor-container::-webkit-scrollbar-thumb:hover {
  background-color: #6c6c6c;
}

.editor-container {
  scrollbar-width: thin;
  scrollbar-color: #868686 #E4E4E4;
}


.editor-title {
  font-weight: bold;
  margin-bottom: 10px;
  position: sticky;
  top: 0; /* Add this line */
  background-color: #282C34; /* Optional: Ensure it has a background to avoid overlapping issues */
  z-index: 1; /* Optional: Ensure it is above other content */
}


.top-pane{
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.bottom-pane{
  height: 290px;
}